.subtitle{
    // display
    margin: 5% 0 0 0;
    align-self: end;
    // style
    font-size: 1.2rem;
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: capitalize;
    color: $color-blue;
}
.date{
    font-size: 0.8rem;
    margin-top: 2%;
}
.inner-card{
    background-color:  $color-pink;
    border-radius: 10px;
    width: 100%;
    padding: 5%;
    color: white;
    margin-top: 5%;
    p{
        margin: 0;
    }
    a{
        text-decoration: none;
        color: white;
        font-style: italic;
    }
    .visa-infos, .price{
        margin-bottom: 1em;
    } 
}
.inner-subtitle{
    font-size: 1rem;
    margin-bottom: 0.8em;
    line-height: 1.5;
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
}
#progress-text{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    .inner-subtitle{
        margin-bottom: 0;
    }
}
.progress{
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    width: 100%;
    height: 10px;
    margin: 0 auto;
    .progress-bar{
        background:white;
    }
}
.check-box{
    padding: 1% 3%;
    display: block;
    width: fit-content;
    background-color: white;
    border-radius: 5px;
    font-weight: 600;
    text-transform: capitalize;
    font-style: normal;
    a{
        color: $color-pink;
        font-style: normal;
    }
}
.done{
    opacity: 50%;
}

.nav-pills .nav-link{
    font-weight: bold;
    text-align: center;
    color: $color-pink;
    opacity: 50%;
  }
  .nav-pills .nav-link.active{
    color: $color-pink;
    opacity: 100%;
    background-color: white;
  }
  .nav-pills{
    display: flex;
    justify-content: space-between;
  }
  .container.tab-pane.active{
      padding: 0;
  }

.vaccine-name{
    text-transform: capitalize;
}

#vaccines{
    .inner-card{
        .inner-subtitle{
            color: white;
            margin-top: 0;
        }
    }
    .inner-subtitle{
        color: $color-pink;
        text-transform: uppercase;
        margin-top: 1em;
    }
}
.txt-vaccines{
    line-height: 0;
    color: $color-pink;
}
.vaccins{
    padding: 5%;
    // ul{
    //     padding: 0;
    // }
    li{
        list-style: none;
    }
    a{
        color: $color-pink;
        font-style: italic;
    }
}

.inner-box{
    display: flex;
    svg{
        width: 1em;
        margin-right: 0.5em;
    }
    .edit{
        margin-top: 1em;
        margin-left: 0.5em;
        color: $color-pink;
    }
}

.delete{
    position: absolute;
    right: 5%;
    width: 1em;
    svg{
    margin-top: 1em;
    color: $color-pink;
    }
}