<h2>Politique de Confidentialité</h2>

  <h3>Introduction</h3>
    <p>Dans le cadre de son fonctionnement, le site internet GorillaTrip, projet
  d'étudiants est amenée à collecter et à traiter des informations dont certaines
  sont qualifiées de "données personnelles". GorillaTrip attache une grande importance
  au respect de la vie privée, et n’utilise que des donnes de manière responsable et
  confidentielle et dans une finalité précise.</p>

  <h3>Données personnelles</h3>
    <p>Sur le site web www.gorillatrip.fr, il y a 2 types de données susceptibles
      d’être recueillies :
      <ul>
        <li><strong>Les données transmises directement</strong><br>
          Ces données sont celles que vous nous transmettez directement, via un
        formulaire de création de compte, ou via un formulaire de contact, ou bien
      par contact direct par email. Sont obligatoires dans le formulaire de création
    de compte le champs "username" et "email", et dans le formulaire de contact
  le champs « prénom et nom », « entreprise ou organisation » et « email ».</li>
      <li><strong>Les données collectées automatiquement</strong><br>
          Lors de vos visites, une fois votre consentement donné, nous pouvons
        recueillir des informations de type « web analytics » relatives à votre
      navigation, la durée de votre consultation, votre adresse IP, votre type et
    version de navigateur. La technologie utilisée est le cookie.</li>
      </ul></p>

  <h3>Utilisation des données</h3>
    <p>Les données que vous nous transmettez directement sont utilisées dans le but
      de vous fournir les données recherchées en fonction de vos séjours et de vous
      re-contacter et/ou dans le cadre de la demande que vous nous faites.
      Les données « web analytics » sont collectées de forme anonyme (en enregistrant
      des adresses IP anonymes) par Google Analytics, et nous permettent de mesurer
      l'audience de notre site web, les consultations et les éventuelles erreurs afin
      d’améliorer constamment l’expérience des utilisateurs. Ces données sont utilisées
      par GorillaTrip, responsable du traitement des données, et ne seront jamais cédées
      à un tiers ni utilisées à d’autres fins que celles détaillées ci-dessus.</p>

  <h3>Base légale</h3>
    <p>Les données personnelles ne sont collectées qu’après consentement obligatoire de
      l’utilisateur. Ce consentement est valablement recueilli (boutons et cases à cocher),
      libre, clair et sans équivoque.</p>

  <h3>Durée de conservation</h3>
    <p>Toutes les données personnelles que nous collectons au cours de votre visite,
      grâce à l’utilisation de cookies, seront automatiquement effacées dès que
      l’objectif de leur divulgation sera atteint. Les données de session sont sauvegardées
      le temps que celle-ci se termine (en quittant ou en fermant le site Web).</p>

  <h3>Cookies</h3>
    <p>Voici la liste des cookies utilisées et leur objectif :
      <ul>
        <li>Cookies Google Analytics : Web analytics</li>
      <li>[Nom du cookie] : Permet de garder en mémoire le fait que vous acceptez
      les cookies afin de ne plus vous importuner lors de votre prochaine visite.</li>
    </ul></p>


  <h3>Vos droits concernant les données personnelles</h3>
    <p>Vous avez le droit de consultation, demande de modification ou d’effacement
      sur l’ensemble de vos données personnelles. Vous pouvez également retirer votre
      consentement au traitement de vos données.</p>

  <h3>Contact délégué à la protection des données</h3>
    <p>MB - contact@gorillatrip.fr</p>

