<% content_for :no_layout do %>
  true
<% end %>

<div class="body-index">
    <section>
        <div class="background"><%= image_tag "stain.svg"%></div>
        <div class="monkey"><%= image_tag "monkey.svg"%></div>
        <div class="text">
            <h2>Oh!</h2>
            <h4>Quelques chose se prépare par ici ... <br> Reviens donc un peu plus tard pour en savoir plus!</h4>
        </div>
    </section>
</div>
